# Supabase Configuration
# Supabase Configuration
REACT_APP_SUPABASE_URL=https://rwghpglhlzljqzbxajkc.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ3Z2hwZ2xobHpsanF6YnhhamtjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjgxNTU3MjcsImV4cCI6MjA4MzczMTcyN30.Kgy2VP-LQnT8OVDycLVgoPWlZNAErCokrvy0sayV4sM